/*Import refente as fonte que vão ser usada no projeto, fontes retiradas do site https://fonts.google.com/, são elas: Baloo Da 2, Josefin, Mulish */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
/*Import referente fontawesome para ter acesso a icones, site: https://fontawesome.com/v4.7.0/get-started/ */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

/*Usado para zerar a margin e o pedding de todo o prjeto*/
*{
    margin: 0;
    padding: 0;
    list-style: none; /*Usado para zerar todo o style de uma lista*/
    text-decoration: none; /*Usado para retirar o sublinhado dos links da lista*/
}

/*pseudo classe com variaveis dentro de que reprensenta as fonts usado no projeto*/
:root{
    --font-primaria: 'Baloo Da 2', serif;
    --font-secundaria: 'Josefin Slab', serif;
    --font-action: 'Mulish', serif;
}

/*Usado para fazer a formatação da ícone  */
.hamburgue{
    display: flex; /*Display propriedade que especifica o comportamento de exibição, flex Exibe um elemento em nível de bloco */
    flex-direction: column; /*Faz com que os itens sejam exibidos como uma coluna*/
    justify-content: space-evenly; /*Faz com que as linha criadas na classe linha tenham um espaço igual em relação um ao outro*/
    width: 2rem; /*Largura*/
    height: 2rem; /*Altura*/
    position: fixed; /*Faz com que fique fixado em apenas um lugar da tela*/
    z-index: 100; /*O z-index é usado para definir a profundidade de algum elemento*/
    right: 2rem; /*Usado para colocar o objeto do lado direito da tela*/
    top: 2rem; /*Usado para afasta o objeto do topo*/ 
    cursor: pointer;  
}

/*Linhas que ficam dentro do menu .hamburgue*/
.linha{
    width: 100%; /*Faz com que a largura das linhas sejam 100% da largura do menu .hamburgue*/
    height: .1rem; /*Usado pra definir a altura da linha*/
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black; /*Usado para fazer uma sombra em cada linha*/
    transition: transform 1s ;
}

/*Usado para fazer um X no menur .hamburgue*/
.show-menu #linha1 {
    transform: translate(.4rem, .4rem) rotate(45deg);
    background-color:purple;
}

/*Usado para fazer um X no menur .hamburgue*/
.show-menu #linha2 {
    opacity: 0;
    visibility: hidden;
}

/*Usado para fazer um X no menur .hamburgue*/
.show-menu #linha3 {
    transform: translate(.2rem, -.5rem) rotate(-45deg);
    background-color:purple;
}

/*Usado para formata o header*/
header{
    width: 100%; /*Largura*/
    height: 100vh; /*Altura, vh faz com que a altura mude de acordo com o tamanho da tela e seja a altura de visualização*/
    overflow: hidden; /*Usado para quando o conteudo e maior que a tela uma parte é cortada e o resto do conteúdo ficará invisível*/
    position: relative; /*Usado para permitir posiciona o elemento em relação a si mesmo*/
    
}

/*Usado para formatar a div que contem a imagem do header*/
.img-embrulho{
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
    overflow: hidden; /*Usado para quando o conteudo e maior que a tela uma parte é cortada e o resto do conteúdo ficará invisível*/
    background-color: black ;
}

/*Usado para formata a imagem que esta dentro da classe .img-embrulho*/
.img-embrulho img{
    width: 100%; /*Largura*/
    height: 100%; /*Altura*/
    object-fit: cover; /*Se usarmos object-fit:cover;a imagem mantém sua proporção e preenche a dimensão dada. A imagem será cortada para caber*/
    opacity: 0.5; /*Alterar a opacidade*/
    animation: zoom 25s; /*Usada para definir as regras da animação zoom*/
}

/*Usado para fazer a animação de zoom da imagem que esta dentro da classe .img-embrulho.*/
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/*Usado para posicionar a classe .baneer que possuie o texto, button*/
.baneer{
    position: absolute; /*Usado para pode posicionar elementos em relação a outra classe ancestral*/
    top: 20%; /*20% de distancia do top*/
    left: 15%; /*15% de distancia do lado esquerdo*/   
}

/*Usado para formata o h1 que está dentro da classe .baneer*/
.baneer h1{
    color: white;
    font-size: 3.2rem;
    font-family: var(--font-primaria);
    font-weight: 200; /*A font-weight e a propriedade que define como os caracteres grossos ou finos no texto devem ser exibidos.*/
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4); /*Text-shadow é a propriedade que adiciona sombra ao texto.*/
    line-height: 3.5rem; /*Usado para definir o distanciamento esntre linhas*/
    margin-bottom: 1rem; /*Usando para da um espaço na parte de baixo da propriedade h1*/
    opacity: 0; /*Alterar a opacidade*/
    animation: movebaneer 1.5s 0.5s forwards; /*Usada para definir as regras da animação movebaneer*/    
}

/*Usado para formatar o <p que está dentro da classe .baneer*/
.baneer p{
    font-family: var(--font-secundaria); /*Usado para informa fonte a ser usada*/
    color: white;
    font-size: 2rem; /*Tamanho da fonte*/
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4); /*Text-shadow é a propriedade que adiciona sombra ao texto.*/
    margin-bottom: 2rem; /*Usando para da um espaço na parte de baixo da propriedade <p>*/   
    opacity: 0; /*Alterar a opacidade*/
    animation: movebaneer 1.5s 0.7s forwards; /*Usada para definir as regras da animação movebaneer*/ 
}

/*Usado para formatar o button que está dentro da classe .baneer*/
.baneer button{
    font-family: var(--font-action); /*Usado para informa fonte a ser usada*/
    letter-spacing: 0.1rem; /*Propriedade de espaçamento entre letras*/
    color: white;
    text-transform: uppercase; /*Tranforma a letra em maiuscula*/
    background: #41295a; /*Background para navegadores antigos que não tem suporte para o linear-gradient */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a); /* Background para versões dos navegadores Chrome 10-25, Safari 5.1-6, background retirado do site https://uigradients.com/*/
    background: linear-gradient(to right, #2F0743, #41295a); /*Background para versões dos navegadores W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+, background retirado do site https://uigradients.com */
    padding: 1rem 2rem; /*padding propriedades CSS são usadas para gerar espaço ao redor do conteúdo de um elemento, dentro de quaisquer bordas definidas.*/
    border: none; /*Não define nenhuma fronteira*/
    cursor: pointer; /*Faz com que ao colocar o curso de mouse no botão ele se transforma em um ponteiro que indica um link*/
    border-radius: 5px; /*Faz com que as bordas do botão sejam arredondadas*/ 
    opacity: 0; /*Alterar a opacidade*/
    animation: movebaneer 1.5s 0.9s forwards; /*Usada para definir as regras da animação  movebaneer*/    
}

/*Usado para formatar o button que está dentro da classe .baneer, hover seletor é usado para selecionar elementos quando você passa o mouse sobre eles. */
.baneer button:hover{
    color: black;  
}

/*Usado para fazer a animação no <h1>, <p>, <button> que esta dentro da classe .baneer.*/
@keyframes movebaneer{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

/*Usado para formatar e posicionar a janela do menu*/
.sidebar{
    width: 20rem; /*largura da janela do menu*/
    height: 70vh; /*Altura da janela do menu*/
    background-color: white;
    position: fixed; /*Faz com que a janela do menu seja fixa na tela*/
    top: 0; /*Faz com que a janela do menu seja colada grudada na borda top*/
    right: -20rem; /*Faz com que a janela fique do lado direito da tela*/
    transition: 1s;
}

/*Usado para mostra o menur .hamburgue*/
.show-menu .sidebar{
    right: 0;
}

/*Usado para posocionar a lista dentro dentro da classe .sidebar*/
.menu{
    position: absolute;/*Usado para pode posicionar elementos em relação a outra classe ancestral*/
    top: 45%; /*usado para separar o item da classe menur da borda  top*/
    left: 50%; 
    transform: translate(-50%, -50%); /*Usado para deixar os itens posicionado na metade da janela sidebar*/
    
}

/*Usado para alinhar os links da lista*/
.menu-item{
    text-align: center; /*Usado para alinhar os links da classe menu-link*/
    margin-bottom: 0.7rem; /*Faz uma separação entre os links*/
}

/*Usado para formatar os link do menu*/
.menu-link{
    font-family: var(--font-action);
    font-size: 1.5rem;
    color:#555;
}

/* um seletor de foco estilize um link ao passar o mouse sobre ele, seletor da classe menu-link*/
.menu-link:hover{
    color: purple;
}

/*Usado para fazer a formatação de posicionamento dos ícones das redes sociais*/
.social-midia{
    position: absolute; /*Usado para pode posicionar elementos em relação a outra classe ancestral*/
    bottom: 1rem; /*Usado para distaciar os ítens do top da pagina*/
    width: 100%; /*Usado para a área do ícone ocupar todo o espaço da classe ancestral */
    display: flex; /*Exibe os ícones em formato de bloco */
    justify-content: space-evenly; /*Usado para fazer os espaçamento iguais do ícones*/
}

/*Usado para fazer a formatação dos ícones das redes sociais*/
.social-midia i{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem; /*Almenta o tamanho dos ícones*/
    display:flex; /*Exibe os ícones em formato de bloco */
    justify-content: center; /*Alinha os itens flexíveis no centro do contêiner*/
    align-items: center; /*Alinha os itens flexíveis no centro no eixo transversal*/
    
}

/* hover usado para da o efeito de zoom quando passar o mouse em cima dos ícones das redes sociais*/
.social-midia i:hover{
    transform: scale(1.5); /*Aplica uma transformação 2D ou 3D a um elemento*/
    transition: all 0.2s ease-in-out; /*Aplica um delay ao transform:*/
}

/*Usado para  formatar a classe pricipal*/
.qualidades{
    display: grid; /*Layout baseado em grade, com linhas e colunas, facilitando o design de páginas*/
    grid-template-columns: repeat(16, 1fr); /*Usado para fazer as linhas verticais do grid*/
    grid-template-rows: repeat(6, 6rem); /*Usado para fazer as linhas horisontais do grid*/
    row-gap: 0rem; /*Usado para fazer a separação entre as linhas horizontal do grid */
}

/*Usado para posicionar os intens dentro da classe qualidades*/
.qualidade:nth-child(1){
    grid-column: 4 / 7; /* Usado para posicionar o item na vertical, começo = 4 / final = 7  */
    grid-row: 1 / 3 ; /* Usado para posicionarna horizontal, começo = 4 / final = 7 */
}
.qualidade:nth-child(2){
    grid-column: 2 / 5 ;
    grid-row: 3 / 5;
}
.qualidade:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}
.qualidade:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}
.qualidade:nth-child(5){
    grid-column: 13 / 16;
    grid-row: 3 / 5;
}
.qualidade:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-header{
    display: flex; /* Exibe os ícones em formato de bloco */
    align-items: center; /* Alinha os itens flexíveis no centro no eixo transversal */
    justify-content: center; /* Alinhe os itens flexíveis no centro do contêiner */
    background-color: #f5f5f5;
}

.qualidades{
    background-color: #f5f5f5;
}

/*Usado para configura o titulo pilares da qualidade */
.sessao-header h1{
    font-family: var(--font-primaria);
    font-size: 3rem;
    border-bottom: solid 3px purple;
    margin-bottom: 3rem;
}

.qualidade-header{
    display: flex;
    align-items: center;
}

.qualidade-header h3{
    font-family: var(--font-secundaria);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
}

.qualidade-text{
    font-family: var(--font-secundaria);
    font-size: 1.rem;
    font-weight: bold;
}

/* Usado para posicionar a imagem do centro*/
.qualidade-img{
    grid-column: 7 / 11;
    grid-row: 3 / 6;
    width: 100%;
}
 /*Usado para configurar como a imagem vai ser  exibida*/
.qualidade-img img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
}

.card{
    position: relative;
    width: 18rem;
    height: 25rem;
}

.card-img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color:black;
}

.card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.card:hover .card-img img{
    opacity: 0.3;
}
.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    transition: all .5s;
}

.card-info h2{
    font-family: var(--font-primaria);
    font-size:2rem;
    font-weight: 500;
    color: white;
    text-shadow: 0.3rem 0.2rem 0.3rem black;
}

.card-info h3{
    font-family: var(--font-action);
    font-weight: bolder;
    color: purple;
    margin-bottom: 1.5rem;
    text-shadow: 0.3rem 0.2rem 0.3rem black;
}

.card-info p{
    font-family: var(--font-secundaria);
    color: white;
    font-weight: 400;
    width: 90%;
    margin-bottom: 1.5rem;
    text-shadow: 0.3rem 0.2rem 0.3rem black;
    
}

.card-info button{
    width: 7rem;
    height: 2.2rem;
    font-family: var(--font-action); /*Usado para informa fonte a ser usada*/
    letter-spacing: 0.01rem; /*Propriedade de espaçamento entre letras*/
    color: white;
    background: #41295a; /*Background para navegadores antigos que não tem suporte para o linear-gradient */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a); /* Background para versões dos navegadores Chrome 10-25, Safari 5.1-6, background retirado do site https://uigradients.com/*/
    background: linear-gradient(to right, #2F0743, #41295a); /*Background para versões dos navegadores W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+, background retirado do site https://uigradients.com */
    border: none; /*Não define nenhuma fronteira*/
    cursor: pointer; /*Faz com que ao colocar o curso de mouse no botão ele se transforma em um ponteiro que indica um link*/
    border-radius: 5px; /*Faz com que as bordas do botão sejam arredondadas*/    
}

.card-info button:hover{
    color: red;  
}

.card:hover .card-info{
    opacity: 1;
    visibility: visible;
}